<%- include('components/header') %>
    <section class="section">
        <div class="container">
            <h1 class="title">Authentication successful</h1>
            <hr>
            <p class="subtitle">You can now close this page.</p>
            <p>• It's a good idea to VIP or MOD gdreqbot to avoid chat restrictions (e.g. followers-only and sub-only chat, slowmode, or others).</p>
            <p>• If you later want to remove gdreqbot from your chat, use the !part command.</p>
            </div>
    </section>
<%- include('components/footer') %>
