<%- include('components/header') %>
    <section class="section">
        <div class="container">
            <h1 class="title">Authentication successful</h1>
            <hr>
            <p class="subtitle">You can now close this page.</p>
            <p>• If the bot doesn't respond in chat due to restrictions (followers-only chat, sub-only chat, ...and more) you'll need to VIP or MOD it.</p>
            <p>• If you later want to remove gdreqbot from your chat, use the !part command.</p>
            </div>
    </section>
<%- include('components/footer') %>
