<%- include('components/header') %>
        <section class="section">
            <div class="container">
                <h1 class="title">Dashboard</h1>
                <hr>
                <p class="subtitle">Logged in as: <%= user.userName %></p>
                <form action="/logout" method="GET">
                    <button class="button" type="submit">
                        <span class="icon has-text-danger">
                            <i class="fas fa-arrow-left"></i>
                        </span>
                        <span>Logout</span>
                    </button>
                </form>
                <hr>
                <p>• It's a good idea to VIP or MOD gdreqbot to avoid chat restrictions (e.g. followers-only and sub-only chat, slowmode, or others).</p>
                <p>• If you later want to remove gdreqbot from your chat, use the !part command.</p>
                <br>
                <h1 class="title">Settings</h1>
                <form class="box" id="settings">
                    <div>
                        <p class="title is-4">Prefix</p>
                        <p class="subtitle is-6">The prefix used to call commands</p>
                        <input class="input" type="text" value="!" name="prefix" id="prefix">
                    </div>
                    <br>
                    <div>
                        <p class="title is-4">Max Levels Per User</p>
                        <p class="subtitle is-6">The maximum amount of levels a user can have in the queue at the same time (-1 = disabled)</p>
                        <input class="input" type="number" min="-1" value="-1" name="max_levels_per_user" id="max_levels_per_user">
                    </div>
                    <br>
                    <div>
                        <p class="title is-4">Max Queue Size</p>
                        <p class="subtitle is-6">The maximum amount of levels the queue can hold (-1 = disabled)</p>
                        <input class="input" type="number" min="-1" value="-1" name="max_queue_size" id="max_queue_size">
                    </div>
                    <br></br>
                    <button class="button" type="submit">
                        <span class="icon has-text-info">
                            <i class="fas fa-save"></i>
                        </span>
                        <span>Save</span>
                    </button>
                </form>
            </div>
        </section>
        <script>
            let form = document.getElementById("settings");

            async function sendData() {
                let formData = new FormData(form);
                let userId = "<%= user.userId %>";

                try {
                    let res = await fetch(`http://localhost:3000/dashboard/${userId}`, {
                        method: "POST",
                        body: formData
                    });
                    console.log(await res.json());
                } catch (e) {
                    console.error(e);
                }
            }

            form.addEventListener("submit", (evt) => {
                evt.preventDefault();
                sendData();
            });
        </script>
<%- include('components/footer') %>
